# Fichiers Python
__pycache__/
*.py[cod]
*.pyo

# Environnements virtuels
venv/
.env
.env.*

# Base de données
data/
twitch_config.json
twitch.json
youtube.json

# Fichiers logs
logs/
*.log

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers spécifiques à l'IDE
.vscod
